<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <!--Medium Widget-->
        <receiver
            android:name=".nowplaying.NowPlayingWidgetReceiver"
            android:exported="true"
            android:label="@string/core_i8n_now_playing">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.squad.musicmatters.ACTION_UPDATE_MEDIUM_WIDGET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glance_medium_widget_info" />

        </receiver>


        <!--Small widget-->
        <receiver
            android:name=".turntable.TurnTableWidgetReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="@string/core_i8n_turntable">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.squad.musicmatters.ACTION_UPDATE_SMALL_WIDGET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glance_small_widget_info" />

        </receiver>

    </application>

</manifest>